# ==== OLTP / HAPI backing Postgres (service: oltp-db) ====
OLTP_DB_NAME=prem_on_fhir
OLTP_DB_USER=admin
OLTP_DB_PASSWORD=admin
# host port published for dev
OLTP_DB_PORT_HOST=5432           

# ==== Analytics Postgres (service: analytics-db) ====
AN_DB_NAME=analytics
AN_DB_USER=analytics_admin
AN_DB_PASSWORD=analytics_admin
# host port published for dev
AN_DB_PORT_HOST=5442             

# ==== pgAdmin ====
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123

# ==== HAPI FHIR server ====
FHIR_BASE=http://localhost:8080/fhir


# ====  Resource knobs (tune to your machine) ----
OLTP_SHM_SIZE=1g
OLTP_MEM_LIMIT=5g
OLTP_MEM_RES=3g
OLTP_CPUS=4.0

HAPI_MEM_LIMIT=6g
HAPI_MEM_RES=4g
HAPI_CPUS=2.0
HAPI_JAVA_OPTS=-Xms4g -Xmx6g -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:+ParallelRefProcEnabled -XX:+AlwaysPreTouch

AN_SHM_SIZE=512m
AN_MEM_LIMIT=3g
AN_MEM_RES=1g
AN_CPUS=2.0

PGADMIN_MEM_LIMIT=768m
PGADMIN_CPUS=0.5

# DBT
DBT_USER=dbt_user
DBT_PASSWORD=dbt_password
DBT_SCHEMA=stg

# ==== NLP (uses analytics DB) ====
# used by NLP pipeline (points to analytics)
PG_HOST=analytics-db                
PG_PORT=5442
PG_DB=analytics
PG_USER=dbt_user
PG_PASSWORD=dbt_password
PG_SCHEMA=stg


# ==== Synthea/Files served by nginx ====
SYNTHEA_HTTP_PORT=8088
# relative to 00-setup
SYNTHEA_OUT_DIR=../01-data-generation/synthea/output/fhir  

# ==== Hugging Face cache/token (optional) ====
HF_HOME=.hf_cache
HUGGINGFACE_HUB_TOKEN=

# ==== OpenAI (optional, only if you use LLM helpers) ====
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_TEMPERATURE=0.9
OPENAI_TOP_P=0.9
OPENAI_MAX_TOKENS=800