# Config
volumes/
.env

# React Dashboard
node_modules/

# PyCharm
.idea/

# Dbt
target/
dbt_packages/
logs/


# Data
01-data-generation/questionnaire_responses/input/
output/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
/.venv/
/venv/
