# Config
volumes/
.env

# React Dashboard
node_modules/


.idea/

# Data
data-generation/questionnaire_responses/input/
output/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
/.venv/
/venv/
